POSTGRES_DB_URL=jdbc:postgresql://localhost:yourport/
POSTGRES_DB_NAME=yourDbName
POSTGRES_DB_USERNAME=DbUsername
POSTGRES_DB_PASSWORD=DbPassword

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=user@example.com
MAIL_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=60000