POSTGRES_DB_URL=jdbc:postgresql://localhost:5432/
POSTGRES_DB_NAME=franktest
POSTGRES_DB_USERNAME=postgres
POSTGRES_DB_PASSWORD=1111

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=heavseima2004@gmail.com
MAIL_PASSWORD=fnsa eyvm ldrv fdoi