POSTGRES_DB_URL=jdbc:postgresql://localhost:5432/mini_project_springboot
POSTGRES_DB_NAME=mini_project_springboot
POSTGRES_DB_USERNAME=postgres
POSTGRES_DB_PASSWORD=Sokry@123

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=sokrypesreal@gmail.com
MAIL_PASSWORD=qoxldedvvhnrgtju